name: Audit
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:

  build:
    name: Audit

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set Node.js 20.x
      uses: actions/setup-node@v6
      with:
        node-version: 20.x

    - name: npm install
      run: npm install

    - name: Build
      run: npm run build

    - name: Audit
      run: npm audit --audit-level=moderate --omit=dev
